/* navbar style */
.stylenav{
  background-color: black;
  color: rgb(201, 213, 224);
  font-family: 'Times';
  text-align: left;
  font-size: 24px;
  padding: 10px;
  border: 5px solid #dee567;
  /* justify-content: space-between;  */

}
/* Define a CSS class for the logout button */
.button-logout {
  background-color: #ff5733; /* Set the background color */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Add padding to the button */
  border: none; /* Remove the button border */
  border-radius: 5px; /* Add rounded corners to the button */
  cursor: pointer; /* Add a pointer cursor on hover */
  justify-content: space-between; 
  margin-left: 1200px;
}

/* Define a hover effect for the button */
.button-logout:hover {
  background-color: #e6451f; /* Change the background color on hover */
}


/* mainpage style */
.sidemainclass{
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
 
}
.side2{
  grid-column: span 2; 
  background-color: rgb(16, 6, 6); 
  height: 100vh; 
  padding-left: 2px;
  border: 2px solid rgb(238, 235, 232);
}
.side3{
  grid-column: span 8; 
    /* background-color:aqua; */
    height: 100vh; 
    padding-left: 2px;
}
 

/* sidebar style */
.side {
  /* background-color: #333; */
  color:black;
  padding: 20px;
  min-width: 150px;
}

.side ul {
  list-style: none;
}

.side li {
  margin-bottom: 10px;
}
a{
  text-decoration: none;
  color: aliceblue;
}